@font-face {
    font-family: 'fredoka_oneregular';
    src: url('fredokaone-regular-webfont.woff2') format('woff2'),
         url('fredokaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0;
}

.contenedor-loader{
	background: #E7ED7A;
}
.preloader{
	margin: auto;
	width: 350px;
	height: 50px;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	left: 0;
	right: 0px;
	bottom: 0px;
}

.preloader:before {
	content: "";
	position: absolute;
	background: green;
	width: 0;
	height: 30px;

	animation: preloader 5s infinite;
}

.preloader p{
	margin: 0;
	line-height: 30px;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes preloader {
	90%{
		width: 100%;
		opacity: 1;
	}
	100%{
		width: 100%;
	}
}

.logica{
	transform: translateY(-100%);
	transition: all 0.5s;
}

.imagen{
	display: block;
	margin: auto;
	text-align: center; 
}

.container-ranking{
	padding-left: 20px;
	padding-right: 20px;
	padding-top:51px;
	padding-bottom:16px;
	background-color: #f5f5f5;
}

.text-header{
	font-size: 20px;
	color: #175965;
	font-family: 'fredoka_oneregular UI', Tahoma, Geneva, Verdana, sans-serif
}