@font-face {
    font-family: 'fredoka_oneregular';
    src: url('fredokaone-regular-webfont.woff2') format('woff2'),
         url('fredokaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0;
}

.contenedor-loader{
	background: #E7ED7A;
}
.preloader{
	margin: auto;
	width: 350px;
	height: 50px;
	background: rgba(255, 255, 255, 0.1);
	position: absolute;
	left: 0;
	right: 0px;
	bottom: 0px;
}

.preloader:before {
	content: "";
	position: absolute;
	background: green;
	width: 0;
	height: 30px;

	animation: preloader 5s infinite;
}

.preloader p{
	margin: 0;
	line-height: 30px;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes preloader {
	90%{
		width: 100%;
		opacity: 1;
	}
	100%{
		width: 100%;
	}
}

.logica{
	transform: translateY(-100%);
	transition: all 0.5s;
}

.imagen{
	display: block;
	margin: auto;
	text-align: center; 
}

.container-ranking{
	padding-left: 20px;
	padding-right: 20px;
	padding-top:51px;
	padding-bottom:16px;
	background-color: #f5f5f5;
}

.text-header{
	font-size: 20px;
	color: #175965;
	font-family: 'fredoka_oneregular UI', Tahoma, Geneva, Verdana, sans-serif;
}

.best-score{
    display: block;
    padding: 10px 20px;
	margin-top: 34px;
	background-color: rgba(253,162,42,.49);
	border-radius: 25px;
	width: 135px;
	height: 50px;
	overflow: hidden;
	text-align: center;
	font-family: 'fredoka_oneregular UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	color: #707070;
	border: none;
}

.ranking{
	margin-top: 33px;
}

.ranking table th {
	font-family: 'robotoregular UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 700;
	width:124px;
	color: #707070;
	text-align: center;
}

.ranking table tr td {
	font-family: 'robotoregular UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 320px;
	height: 49px;
	font-size: 16px;
	text-align: center;
}


.text-info {
	margin-top: 26px;
	text-align: center;
}

.text-info span {
	font-size: 16px;
	margin-top: 14px;
	cursor: pointer;
	color: #0093ba;
	font-family: 'robotoregular UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-info span.bold {
	font-weight: 700;
}

.text-info div{
	margin: auto;
    display: block;
    padding: 10px 20px;
	cursor: pointer;
	margin-top:26px;
	background-color: #0093ba;
	font-size: 16px;
	color: #ffffff;
	border-radius: 25px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
	width: 270px;
	height: 50px;
	overflow: hidden;
	font-family: 'fredoka_oneregular UI', Tahoma, Geneva, Verdana, sans-serif;
}