body{
	background: #E7ED7A;
}
.barraArriba{
	background-color: black;
	height: 40px;
	
}

img{
	display: block;
	margin: auto;
}

.opciones{
	margin: auto;
}

button{
	display: block;
	font-size: 20px;
	width: 60%;
	list-style: none;
	text-align: center;
	background-color: green;
	color: white;
	margin: auto;
}



.barraAbajo{
	background: black;
	height: 40px;
	margin-top: auto;
}

.pregunta{text-align: center; font-size: 25px;padding: 20px 20px;}
.opciones button{padding: 10px 20px; border-radius: 20px; text-transform: uppercase; cursor: pointer}

