/* estilos de home */
@font-face {
    font-family: 'fredoka_oneregular';
    src: url('fredokaone-regular-webfont.woff2') format('woff2'),
         url('fredokaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Fredoka One', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5
}


.leyenda{
    margin-top:130px; font-size: 35px;
    line-height: 50px;
    color: #175965;
    font-weight: 400;
    text-align: center;
}

.botonera{
    margin-top: 150px;
    width: 100%; 
    background-color: #f5f5f5
}

.botonera .boton-home{
    display: block;
    margin: 5px 60px;
    padding: 10px 20px;
}

.botonera .boton-jugar{
    width: 270px;
    color: #ffffff;
    font-weight: 400;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 3px 9px rgba(97,191,216,0.2);
    background-color: #0093ba;
}

.botonera .boton-sesion{
    width: 270px;
    color: #0093ba;
    font-weight: 400;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 3px 9px rgba(97,191,216,0.2);
    background-color: #ffffff;
    border: 2px solid #0093ba;
}

.botonera .sugerencias{
    font-size: 14px;
    color: #0093ba;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}

.card-wrapper{
    font-size: 24px;
    color: #0093ba;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
}

h1.title{
	font-size: 24px;
	color: #175965;
    font-family: 'Fredoka One', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    margin: 10px;
    margin-top: 65px;
    font-weight: bolder;
}

.category-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.category-item{
    width: 100px;
    height: 100px;
    border: 1px solid #39B600;
    border-radius: 50%;
    margin: 20px;
}

.category-item i{
    margin: auto;
    color: #39B600;
    font-size: 24px;
    line-height: 50px
}

.button{
    background: #0093BA;
    font-family: 'Fredoka One', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
    line-height: 20px;
    width: 270px;
    margin: auto;
    display: block;
}   

/*estilos de pregunta.html*/

.txt-pregunta{
    font-size: 18px;
    color: #175965;
    font-family: "Fredoka One";
    font-weight: 400;
    position: relative;
    bottom: 24vh;
}

.container .span-correcto{
    position: relative;
    bottom: 15vh;
}

.opciones{
    position: relative;
    bottom: 10vh;
}


.opciones button{
    width: 273px;
    height: 57px;
    border-radius: 6px;
    border: 1px solid #1e92be;
    font-size: 16px;
    color: #1e92be;
    font-family: "Roboto";
    font-weight: 400;
}