<div class="container-sugerencias">
    <span class="titulo" id="titulo">Sugerencias</span>

    <div class="descripcion">
        <span>¿Querés sumar más preguntas? </span> <br>
        <span>Escribila acá</span> 
    </div>

    <div class="inputs">
        <input type="text"  class="form-control"  placeholder="Pregunta">
        <input type="text"  class="form-control"  placeholder="Categoría">
        <input type="text"  class="form-control"  placeholder="Respuesta correcta">
    </div>

    <div class="btn-enviar">
        <span>Enviar</span>
    </div>
</div>