<div class="container-sugerencias">
  <span class="titulo" id="titulo">Empecemos a Jugar</span>
  {{f.nombre}}
  <div class="descripcion">
      <span>Dejanos tus datos para tener un registro </span> <br>
      <span></span> 
  </div>
  <form #f="ngForm" (ngSubmit)="llenarDatos(f)" novalidate>
    <div class="inputs" style="margin-bottom: 5rem">
        <input name="nombre" ngModel required minlength="2" maxlength="30" #nombre="ngModel" placeholder="Nombre" class="form-control">
        <input name="edad" type="number" ngModel required maxlength="3" #edad="ngModel"  class="form-control" placeholder="Edad">
        <div *ngIf="error" class="alert alert-danger">
           Debe indicar su nombre y edad.
        </div>
<div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
    class="alert alert-danger">
  <div *ngIf="nombre.errors.required">
    Debe indicar un nombre.
  </div>
  <div *ngIf="nombre.errors.minlength">
    el nombre debe tener al menos 2 caracteres
  </div>
</div>
<div *ngIf="edad.invalid && (edad.dirty || edad.touched)"
    class="alert alert-danger">
  <div *ngIf="edad.errors.required">
    Debe indicar su edad.
  </div>
  <div *ngIf="edad.errors.maxlength">
    su edad no puede tener mas de 3 dígitos
  </div>
</div>
    </div>
        <button class="button button-empezar" id="boton-siguiente">
            Empezar a Jugar
          </button>
  </form>
 
</div>