<div class="container-ranking">
  <span class="text-header" id="titulo">Ranking</span>

  <div class="ranking">
      <table>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Puntaje</th>

          <tr class="round-border">
              <td>#1</td>
              <td>{{primero.nombre}}</td>
              <td>{{primero.puntaje}}</td>
          </tr>

          <tr>
              <td> <br></td>
          </tr>

          <tr *ngFor="let posicion of puntajes; let i = index"
              [ngStyle]="{'font-weight': i%2 === 1 ? 700 : 400}">
              <td>{{posicion.posicion}}</td>
              <td>{{posicion.nombre}}</td>
              <td>{{posicion.puntaje}}</td>
          </tr>
      </table>
  </div>
  
  <div class="text-info">
      <span id="respuestas" class="bold">Mis respuestas</span> <br> <br> <br>
      <div class="button" id="boton-siguiente" (click)="goPregunta()"> 
          <a [routerLink]="['/categorias']" style="color:#ffc400;font-weight:700; font-family:'Fredoka One'">Volver a jugar</a>
        </div> <br>
  </div>
</div>